<!-- Header -->
<header
  class="flex z-50 items-center justify-between bg-gray-100 py-4 px-4 md:px-8 rounded-lg shadow border-b border-gray-300"
>
  <img src="./../public/iubat.png" alt="Logo of IUBAT" class="h-16 w-auto" />
  <h1
    class="text-xl md:text-2xl font-bold text-green-600 text-center mx-6 flex-1"
  >
    IUBAT - International University of Business Agriculture and Technology
    <br />
    <span class="block text-blue-600 mt-4">Meal Rate by Group SQL</span>
  </h1>
  <img
    src="./../public/cse.png"
    alt="Logo of CSE department"
    class="h-16 w-auto"
  />
</header>
